<div class="game-info"
  *ngIf="!(presentation.isPresentation$ | async)">
  <div class="content"
    *ngIf="gameInfo.selectedGame$.getValue(); let selectedGame">
    <div class="is-new"
      *ngIf="selectedGame.isNew">
      new
    </div>
    <div class="game-name">
      {{ selectedGame.name }}
    </div>

    <div class="num-players">
      {{ selectedGame.players }}
    </div>
  </div>
</div>