.game-info {
  width: 50%;
  height: 400px;
  background-color: #e4f1fe;
  display: inline-block;
  padding: 10px;
  text-align: center;
  padding-top: 50px;
}

.is-new {
  color: red;
  font-size: 30px;
}

.game-name {
  font-size: 50px;
}

.num-players {
  font-size: 150px;
}

@media (max-width: 800px) {
  .game-info {
    width: 100%;
  }
}
