<div>
  <div class="header">
    <div class="presentation_button">
      <app-switch-btn></app-switch-btn>
    </div>
  </div>
  <div class="dashboard">
    <app-games-list></app-games-list>
    <app-game-info></app-game-info>
  </div>
</div>