.header {
  width: 100%;
  background-color: #34495e;
  padding: 10px;
  background-image: url(/assets/logo.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 10px 10px;
  height: 70px;
}

.presentation_button {
  position: absolute;
  right: 18px;
  top: 18px;
}
