<div [ngClass]="{'games-list': true, 'presentation': (isPresentation$ | async)}">
  <ul>
    <li *ngFor='let game of gamesList$ | async'
      (click)='gameSelectedHandler(game)'
      [ngStyle]='{"height": (isPresentation$ | async) ? game.players+"px" : "35px"}'>
      <div class="game-name">{{game.name}}</div>
      <div class="players-num">{{game.players}}</div>
    </li>
  </ul>
</div>