<div [ngClass]="{'games-list': true, 'presentation': (presentation.isPresentation$ | async)}">
  <ul>
    <li *ngFor='let game of http.getData() | async'
      (click)='gameInfo.gameSelected(game)'
      [ngStyle]='{"height": (presentation.isPresentation$ | async) ? game.players+"px" : "35px"}'>
      <div class="game-name">{{game.name}}</div>
      <div class="players-num">{{game.players}}</div>
    </li>
  </ul>
</div>